@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&display=swap');

$green: #8BC34A;
$red: #f44336;
$yellow: #FFEB3B;
$blue: #2196F3;

$success: $green;
$danger: $red;
$warning: $yellow;
$info: $blue;

$primary: #3F51B5;
$secondary: #FF5722;

$font-family: 'Raleway', sans-serif;